<h1>About</h1>

<%= link_to 'Home', root_path %>

<div>
  <p>Coded by <a href="http://recodenow.com/" target="_blank"> recode now</a></p>
  
  <p>
    <b>References:</b><br> Want to read more about the heroes of NASA's first man-in-space program? Go to this <a href="https://en.wikipedia.org/wiki/Mercury_Seven" target="_blank">Wikipedia entry</a>, 
    or get more information on the <a href="https://www.nasa.gov/mission_pages/mercury/missions/program-toc.html" target="_blank">Nasa page</a>.</br>
  </p>
</div>