<h1>Home</h1>

<%= link_to 'About', about_path %>

<h1>The Mercury Seven</h1>
<h3>NASA's first man-in-space program</h3>

<div>
  <div>
    <p>Scott Carpenter, Gordon Cooper, John Glenn, Gus Grissom, Wally Schirra, Alan Shepard, and Deke Slayton were America's first astronauts in the Mercury program - NASA's first man-in-space program. 
        The three main objectives of the Mercury program were to determine how man function during space travel, to orbit a manned spacecraft around Earth, and to recover crew and spacecraft successfully.
        The program was iniated in 1958 and finished in 1961. Six manned space flights were accomplished showing that man can function as a pilot-engineer-experimenter. 
        Some of the Mecury Seven flew not only on the spacecraft Mercury, but also on Gemini, Apollo, and the Space Shuttle.
    </p>
  </div>
  
  <div>
    <h3>Scott Carpenter</h3>
      <ul>
        <li><b>MA-7 (Aurora 7)</b>, May 1962, second orbital Mercury Mission</li>
      </ul>
  </div>
  
  <div>
    <h3>Gordon Cooper</h3>
      <ul>
        <li><b>MA-9 (Faith 7)</b>, May 1963, final Mercury mission, first Amercian mission to last more than one day</li>
      </ul>
  </div>

  <div>
    <h3>John Glenn</h3>
      <ul>
        <li><b>MA-6 (Friendship 7)</b>, February 1962, first American to orbit the Earth</li>
        <li><b>STS-95 Discovery</b>, October 1998, oldest person in space</li>
      </ul>
  </div>

  <div>
    <h3>Gus Grissom</h3>
      <ul>
        <li><b>MR-4 (Liberty Bell 7)</b>, July 1961, final suborbital Mercury flight</li>
        <li><b>Gemini 3</b>, March 1965, first manned Gemini mission</li>
        <li><b>Apollo 1</b>, January 1967, died in a fire during a launch pad test of Apollo 1</li>
      </ul>
  </div>
  
  <div>
    <h3>Wally Schirra</h3>
      <ul>
        <li><b>MA-8 (Sigma 7)</b>, October 1962, third orbital Mercury flight</li>
        <li><b>Gemini 6</b>, December 1965, first rendezvous in space, with Gemini 7</li>
        <li><b>Apollo 7</b>, October 1968, first manned Apollo mission; only person to fly Mercury, Gemini, and Apollo missions</li>
      </ul>
  </div>
  
  <div>
    <h3>Alan Shepard</h3>
      <ul>
        <li><b>MR-3 (Freedom 7)</b>, May 1961, first manned Mercury flight; first American in space</li>
        <li><b>Apollo 14</b>, January 1971, third manned lunar landing; fifth man to walk on the Moon</li>
      </ul>
  </div>

  <div>
    <h3>Deke Slayton</h3>
      <ul>
        <li><b>Apollo-Soyuz Test Project</b>, July 1975, first docking of an American and Russian spacecraft</li>
      </ul>
  </div>
</div>