<div class ="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href ="http://www.recodenow.com" target="_blank">recodenow.com</a>
      by <a href="https://twitter.com/recodenow" target="_blank">@recodenow</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>